<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titulo del sitio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <!--barra de navegacion switch con sesion iniciada-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav nav-pills">
            <li><a class="navbar-brand" href="index.cshtml">nombre del sitio</a></li>
            <li><button type="button" class="btn btn-success" data-toggle="modal" data-target="#popupwindow">comenzar</button></li>
            <li><button type="button" class="btn btn-default navbar-btn">instructivos</button></li>
            <li><button type="button" class="btn btn-default navbar-btn">acerca de</button></li>
        </ul>
    </div>
    <!--botonera tipo de pc-->
    <div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
        </ul>
    </div>

    <!--ACA VA EL SWITCH GET
        index
        sesion iniciada
            usuario/perfil
            pagina frontal
            perfil del comprador/vendedor-->
    <!--modal login-->
    <div class="modal fade" id="popupwindow">
        <div id="pop">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>INICIAR SESION</h3>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                    <p><input type="password" class="span3" name="passwd" placeholder="Contraseña"></p>
                    <p>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <a href="#">Olvidé mi contraseña</a>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                Crear una cuenta
                <a href="#" class="btn btn-primary">Registrarse</a>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        hola
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
